<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="#!" class="logo d-flex align-items-center w-auto">
                                {{!-- <img src="adminassets/img/logo.png" alt=""> --}}
                                <span class="d-none d-lg-block">MSM Admin Panel</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body mt-4">


                                <form class="row g-3 needs-validation" action="/admin/signin" method="POST">
                                    {{#if signInErr}}
                                    <div class="alert alert-danger" role="alert">
                                        <p class="error alert-heading">{{signInErr}}</p>
                                    </div>
                                    {{/if}}

                                    <div class="col-12">
                                        <div class="input-group has-validation">
                                            <input type="email" name="Email" class="form-control" id="yourUsername"
                                                placeholder="Email" required>
                                            <div class="invalid-feedback">Username</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <input type="password" name="Password" class="form-control" id="yourPassword"
                                            placeholder="Password" required>
                                        <div class="invalid-feedback">Password!</div>
                                    </div>


                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0 text-center">Don't have account? <a
                                                href="/admin/signup">Create
                                                an account</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->