<div class="container">
    <center>
        <br><br><br><br>
        <br><br><br><br>
        <br>

        <h6 class="p-0">Your Request has been successfully submitted ✅ <br>we will connect you as soon as possible!</h6>
        <br>
        <a href="/signin" class="btn btn-dark w-100" type="submit">Back to Signin</a>

    </center>
</div>


<style>
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        .container {
            width: 423px;
        }
    }
</style>