<div class="container">
    <center>
        <br><br><br><br>
        <br><br><br><br>
        <br>

        <h6 class="p-0">Your Request has been successfully submitted ✅ <br>we will connect you as soon as possible!</h6>
        <br>
        <a href="/signin" class="btn btn-dark w-100" type="submit">Back to Signin</a>

    </center>
</div>
<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-float {
        margin-top: 16px;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<a href="https://api.whatsapp.com/send?phone=9158555799&text=Hi Assalamu Alikkum." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>

<style>
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        .container {
            width: 423px;
        }
    }
</style>