<style>
    .login-wrapper {
        background-image: url('images/img/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>



<div class="login-wrapper d-flex align-items-center justify-content-center bg-white">
    <div class="card p-3 shadow">
        <div class="container-lg">
            <div class="text-center px-4"><img class="login-intro-img" src="img/bg-img/36.png" alt=""></div>
            <!-- Register Form -->
            <div class="register-form mt-4">
                <h6 class="mb-3 text-center">Forgot Username or Password.</h6><br>

                <form action="/forgot" method="POST" id="whatsappForm">
                    <input type="hidden" name="date" id="datetime">

                    {{#if signUpErr}}
                    <div class="alert alert-danger" role="alert">
                        <p class="error alert-heading">{{signUpErr}}</p>
                    </div>
                    {{/if}}

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group text-start mb-3">
                                <label class="mb-2 text-dark">നിങ്ങളുടെ ആദ്യത്തെ പേര്</label>
                                <input class="form-control" type="text" id="firstName" name="Fname"
                                    placeholder="Your First Name" required oninput="convertToLowercase(this)">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group text-start mb-0">
                                <label class="mb-2 text-dark">നിങ്ങളുടെ അവസാനത്തെ പേര്</label>
                                <input class="form-control" type="text" id="lastName" name="Lname"
                                    placeholder="Your Last Name" required oninput="convertToLowercase(this)">
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-start mb-3 position-relative">
                        <label class="mb-2 text-dark">നിങ്ങളുടെ മൊബൈൽ നമ്പർ</label>
                        <input class="form-control" id="mobile" name="Password" type="text"
                            placeholder="Enter Your Mobile Number" required>
                        {{!-- <div class="position-absolute" id="password-visibility"><i class="bi bi-eye"></i><i
                                class="bi bi-eye-slash"></i></div> --}}
                    </div>
                    <div class="mb-3" id="pswmeter"></div>
                    {{!-- <div class="form-check mb-3">
                        <input class="form-check-input" id="checkedCheckbox" type="checkbox" value="" checked>
                        <label class="form-check-label text-muted fw-normal" for="checkedCheckbox">I agree with the
                            terms &amp;
                            policy.</label>
                    </div> --}}

                    <button class="btn btn-primary mb-2 w-100" type="submit" onclick="submitForm()">Submit</button>
                    <a href="/signin" class="btn btn-dark w-100" type="submit">Back to Signin</a>

                </form>
            </div>
            <!-- Login Meta -->

        </div>
    </div>
</div>

<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-float {
        margin-top: 16px;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<a href="https://api.whatsapp.com/send?phone=9158555799&text=Hi Assalamu Alikkum." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>

<script>
    function convertToLowercase(inputElement) {
        var inputValue = inputElement.value;
        inputElement.value = inputValue.toLowerCase();
    }
</script>

<script>
    // Get current date and time
    const now = new Date();
    const year = now.getFullYear();
    const month = (now.getMonth() + 1).toString().padStart(2, '0');
    const day = now.getDate().toString().padStart(2, '0');
    const hours = ((now.getHours() + 11) % 12 + 1).toString().padStart(2, '0'); // Convert to 12-hour format
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const ampm = now.getHours() >= 12 ? 'PM' : 'AM';

    // Set default value to current date and time in MM/DD/YYYY format
    const defaultDateTime = `${month}/${day}/${year}T${hours}:${minutes}`;
    document.getElementById('datetime').value = defaultDateTime;
</script>


<script>
    function submitForm() {
        var Fname = document.getElementById('firstName').value;
        var Lname = document.getElementById('lastName').value;
        var phone = document.getElementById('mobile').value;

        // Replace '1234567890' with your predefined phone number
        var predefinedPhoneNumber = '9158555799';

        // Construct a message
        var message = "⭕️🛑⭕️🛑\nHii i forgot my username and phone number \n\nFirst Name: " + Fname + "\nLast Name: " + Lname + "\nPhone: " + phone;

        // Encode the message and phone number for a WhatsApp URI
        var encodedMessage = encodeURIComponent(message);
        var encodedPhoneNumber = encodeURIComponent(predefinedPhoneNumber);

        // Open the user's WhatsApp with the pre-filled message and phone number
        window.location.href = "https://api.whatsapp.com/send?phone=" + predefinedPhoneNumber + "?text=" + encodedMessage;
    }


</script>