<section>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Submited Successfully!</h4>
            <p>score:{{score}}</p>
            <hr>
            <p class="mb-0">TotalScore:{{tScore}}</p>
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-primary mt-4 btn-lg">Back</a>
        </div>
    </div>
</section>