<style>
    .login-wrapper {
        background-image: url('images/img/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>



<div class="login-wrapper d-flex align-items-center justify-content-center bg-white">
    <div class="card p-4 shadow">
        <div class="container p">
            <div class="text-center px-4"><img class="login-intro-img" src="img/bg-img/36.png" alt=""></div>
            <!-- Register Form -->
            <div class="register-form mt-4">
                <center>
                    <img src="/images/logo2.png" width="20%">

                    <img src="/images/logo.png" width="40%">
                </center>
                <h6 class="mb-3 mt-4 text-center">Login to Msm Ramadan Quiz 2025.</h6><br>

                <form action="/signin" method="POST" id="stepForm">
                    {{#if signInErr}}
                    <div class="alert alert-danger" role="alert">
                        <p class="error alert-heading">Incorrect Username or Phone Number</p>
                    </div>
                    {{/if}}

                    <div class="form-group text-start mb-3">

                        <label class="mb-2 text-dark">നിങ്ങളുടെ പൂർണ നാമം</label>
                        <input class="form-control" id="username" name="Username" type="text"
                            placeholder="Your Full Name Without Space" required oninput="convertToLowercase(this)">
                    </div>
                    <div class="form-group text-start mb-3 position-relative">
                        <label class="mb-2 text-dark">നിങ്ങളുടെ മൊബൈൽ നമ്പർ</label>
                        <input class="form-control" id="password" name="Password" type="tel"
                            placeholder="Enter Your Mobile Number" pattern="[0-9]{10}"
                            title="Please enter a 10-digit phone number" required>
                        {{!-- <div class="position-absolute" id="password-visibility"><i class="bi bi-eye"></i><i
                                class="bi bi-eye-slash"></i></div> --}}
                    </div>
                    <div class="mb-3" id="pswmeter"></div>
                    {{!-- <div class="form-check mb-3">
                        <input class="form-check-input" id="checkedCheckbox" type="checkbox" value="" checked>
                        <label class="form-check-label text-muted fw-normal" for="checkedCheckbox">I agree with the
                            terms &amp;
                            policy.</label>
                    </div> --}}
                    <p class="mt-3  text-center mb-3">Forgot Username or Phone Number? <a class="stretched-link"
                            href="/forgot">Contact Us</a>
                    </p>
                    <button class="btn btn-primary w-100" type="submit">Sign In</button>
                </form>
            </div>
            <!-- Login Meta -->
            <div class="login-meta-data text-center">
                <p class="mt-3 mb-0">Dont't have an account? <a class="stretched-link" href="/signup">Signup Now</a>
                </p>
                <p class="text-center mt-3">Developed By <a href="https://www.vectorcrop.com">VectorCrop.</a></p>

            </div>
            <br>
        </div>
    </div>
</div>

<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-float {
        margin-top: 16px;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<a href="https://api.whatsapp.com/send?phone=9158555799&text=Hi Assalamu Alikkum." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>

<script>
    function convertToLowercase(inputElement) {
        var inputValue = inputElement.value;
        // Convert to lowercase
        inputValue = inputValue.toLowerCase();
        // Remove whitespaces
        inputValue = inputValue.replace(/\s/g, '');
        inputElement.value = inputValue;
    }
</script>