<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{{!-- <main class="overflow-hidden">
    <div class="container">
        <style>
            form select {
                border: solid 2px rgb(34, 33, 33);
                background-color: rgb(255, 255, 255);
                box-shadow: 3.286px 6.181px 0px 0px rgba(20, 21, 21, 0.004);
                width: 100%;
                height: 100%;
                z-index: 100;
                position: relative;
                font-size: 17px;
                color: rgb(20, 21, 21);
            }
        </style>
        <div class="row">
            <h5 class="text">
                <img src="assets1/images/text.png" alt="Text" />sponsored by MSM Kozhikode North
            </h5>
            <h2 class="main-heading">
                Join The Ramadan Quiz
                <img src="assets1/images/stars.png" alt="star" />March 2024<img src="assets1/images/stars.png"
                    alt="star" />
            </h2>
            <form action="/signup" method="POST" id="stepForm" onsubmit="return validateForm()">
                {{#if signUpErr}}
                <div class="alert alert-danger" role="alert">
                    <p class="error alert-heading">{{signUpErr}}</p>
                </div>
                {{/if}}
                <div class="alert alert-danger" id="alert-mobile" role="alert" style="display: none;">
                    <p class="error alert-heading">Please enter a valid mobile number.</p>
                </div>
                <input type="hidden" name="date" id="datetime">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="inputField">
                            <input type="text" id="firstName" name="Fname" placeholder="Your First Name" required />
                            <div class="black"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="inputField">
                            <input type="text" id="lastName" name="Lname" placeholder="Your Last Name" required />
                            <div class="black"></div>
                        </div>
                    </div>
                </div>



                <div class="inputField">
                    <input type="number" id="mobile" name="Mobile" placeholder="Your Mobile Number" required />
                    <div class="black"></div>
                </div>


                <div class="inputField">
                    <input type="text" id="username" name="Username" placeholder="Username" readonly />
                    <div class="black"></div>
                </div>
                <div class="inputField">
                    <input type="password" id="password" name="Password" placeholder="Password"
                        style="font-size: 24px; font-weight: bold;" readonly />
                    <div class="black"></div>
                </div>

                <div class="inputField">
                    <select name="type" required>
                        <option disabled selected value="">Select Your Type</option>
                        <option value="junior">Junior</option>
                        <option value="senior">Senior</option>
                    </select>
                    <div class="black"></div>
                </div>

                <div class="inputField">
                    <select name="zone" required>
                        <option disabled selected value="">Select Your Zone</option>
                        <option value="Koyilandi">Koyilandi</option>
                        <option value="Balussery">Balussery</option>
                        <option value="Perambra">Perambra</option>
                        <option value="Kuttiyadi">Kuttiyadi</option>
                    </select>
                    <div class="black"></div>
                </div>

                <div class="submitButton">
                    <button type="submit">Register</button>
                    <div class="black"></div>
                </div>
                <div class="submitButton mt-3">
                    <a href="/signin" class="btn btn-dark w-100 p-3 text-bold">Already have an account? Login now</a>
                </div>
            </form>
            <div class="desc">
                <div class="date">
                    monday
                    <br />
                    <span>dec 25<sup>th</sup></span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consecttetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                    ipsum suspendtisse
                </p>
            </div>
            <div class="location">
                <div class="line"></div>
                <h1>party location</h1>
                <p>123 Street Name, City Name, State, Country, 12345</p>
                <div class="socialIcons">
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i>
                        <div class="black"></div>
                    </a>
                    <a href="#"><i class="fa-brands fa-youtube"></i>
                        <div class="black"></div>
                    </a>
                    <a href="#"><i class="fa-brands fa-facebook"></i>
                        <div class="black"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
</main> --}}

<style>
    .login-wrapper {
        background-image: url('images/img/2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-float {
        margin-top: 16px;
    }
</style>


<a href="https://api.whatsapp.com/send?phone=9158555799&text=Hi Assalamu Alikkum." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>

<!------------------------------------------------------------------------------>
<!-- Login Wrapper Area -->
<div class="login-wrapper d-flex align-items-center justify-content-center bg-white">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="text-center px-4"><img class="login-intro-img" src="img/bg-img/36.png" alt=""></div>
            <!-- Register Form -->
            <div class="register-form mt-4">
                <h6 class="mb-3 text-center">Register to Msm Ramadan Quiz 2024.</h6><br>
                {{#if signUpErr}}
                <div class="alert alert-danger" role="alert">
                    <p class="error alert-heading">{{signUpErr}}</p>
                </div>
                {{/if}}
                <form action="/signup" method="POST" id="stepForm" onsubmit="return validateForm()">
                    <input type="hidden" name="date" id="datetime">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group text-start mb-3">
                                <label class="mb-2 text-dark">നിങ്ങളുടെ ആദ്യത്തെ പേര്</label>
                                <input class="form-control" type="text" id="firstName" name="Fname"
                                    placeholder="Your First Name" required oninput="convertToLowercase(this)">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group text-start mb-0">
                                <label class="mb-2 text-dark">നിങ്ങളുടെ അവസാനത്തെ പേര്</label>
                                <input class="form-control" type="text" id="lastName" name="Lname"
                                    placeholder="Your Last Name" required oninput="convertToLowercase(this)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-start">
                        <input class="form-control" id="username" name="Username" type="hidden" placeholder="Username"
                            readonly>
                    </div>
                    <div class="form-group text-start mb-3">
                        <label class="mb-2 text-dark">നിങ്ങളുടെ മൊബൈൽ നമ്പർ</label>
                        <input class="form-control" id="mobile" name="Mobile" type="number"
                            placeholder="Your Mobile Number" required>
                    </div>

                    <div class="form-group">
                        <label class="mb-2 text-dark">നിങ്ങളുടെ സോൺ തിരഞ്ഞെടുക്കുക</label>
                        <select class="form-select" id="defaultSelect" name="zone" aria-label="Default select example"
                            required>
                            <option value="" disabled selected>Select Your Zone</option>
                            <option value="Nadappuram">Nadappuram</option>
                            <option value="Vadakara">Vadakara</option>
                            <option value="Payyoli">Payyoli</option>
                            <option value="Koyilandy">Koyilandy</option>
                            <option value="Meppayur">Meppayur</option>
                            <option value="Perambra">Perambra</option>
                            <option value="Kuttiyadi">Kuttiyadi</option>
                            <option value="Balussery">Balussery</option>
                            <option value="Ponoor">Ponoor</option>
                            <option value="Other">Other</option>


                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-select" name="type" aria-label="Default select example" required>
                            <option value="" disabled selected>Select Junior/Senior</option>
                            <option value="junior">Junior </option>
                            <option value="senior">Senior (Above 16)</option>
                        </select>
                    </div>
                    <div class="form-group text-start mb-3">
                        <label class="mb-2 text-dark">നിങ്ങളുടെ വിലാസം</label>
                        <input class="form-control" id="Address" name="Address" type="text" placeholder="Your Address"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="districtSelect" class="form-label">നിങ്ങളുടെ ജില്ല</label>
                        <select class="form-select" name="district" id="districtSelect"
                            aria-label="Default select example" required>
                            <option value="" disabled selected>നിങ്ങളുടെ ജില്ല</option>
                        </select>
                    </div>



                    <div class="form-group text-start mb-3 position-relative">
                        <input class="form-control" id="password" name="Password" type="hidden"
                            placeholder="New password" readonly>
                        {{!-- <div class="position-absolute" id="password-visibility"><i class="bi bi-eye"></i><i
                                class="bi bi-eye-slash"></i></div> --}}
                    </div>
                    <div class="mb-3" id="pswmeter"></div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" id="checkedCheckbox" type="checkbox" value="" checked>
                        <label class="form-check-label text-muted fw-normal" for="checkedCheckbox">I agree with the
                            terms &amp;
                            policy.</label>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                </form>
            </div>
            <!-- Login Meta -->
            <div class="login-meta-data text-center">
                <p class="mt-3 mb-0">Already have an account? <a class="stretched-link" href="/signin">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    // Get current date and time
    const now = new Date();
    const year = now.getFullYear();
    const month = (now.getMonth() + 1).toString().padStart(2, '0');
    const day = now.getDate().toString().padStart(2, '0');
    const hours = ((now.getHours() + 11) % 12 + 1).toString().padStart(2, '0'); // Convert to 12-hour format
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const ampm = now.getHours() >= 12 ? 'PM' : 'AM';

    // Set default value to current date and time in 12-hour format with AM/PM
    const defaultDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
    document.getElementById('datetime').value = defaultDateTime;
</script>
<script>
    // Get references to the input fields
    const firstNameInput = document.getElementById('firstName');
    const lastNameInput = document.getElementById('lastName');
    const usernameInput = document.getElementById('username');
    const mobileInput = document.getElementById('mobile');
    const passwordInput = document.getElementById('password');

    function validateForm() {
        const mobileNumber = mobileInput.value.trim();
        const mobilePattern = /^\d{10}$/;

        // Check if the mobile number matches the pattern
        if (!mobilePattern.test(mobileNumber)) {
            // If not valid, show an alert message
            const errorAlert = document.querySelector('#alert-mobile');
            errorAlert.style.display = 'block';

            setTimeout(function () {
                errorAlert.style.display = 'none';
            }, 3500);
            // Prevent form submission
            return false;
        }
        return true;
    }


    // Function to update the username field
    function updateUsername() {
        const firstName = firstNameInput.value.trim();
        const lastName = lastNameInput.value.trim();

        const username = (firstName + lastName).toLowerCase();
        //const username = (firstName +"-"+ lastName).toLowerCase();
        usernameInput.value = username;
    }
    function updatePassword() {
        const mobile = mobileInput.value.trim();
        passwordInput.value = mobile;
    }

    // Add event listeners for input changes in the first and last name fields
    firstNameInput.addEventListener('input', updateUsername);
    lastNameInput.addEventListener('input', updateUsername);
    mobileInput.addEventListener('input', updatePassword);

    // Initial call to update the username field when the page loads
    updateUsername();
    updatePassword();
</script>

<script>
    function convertToLowercase(inputElement) {
        var inputValue = inputElement.value;
        inputElement.value = inputValue.toLowerCase();
    }
</script>

<script>
    // Sample array of districts in Kerala
    var districtsInKerala = ["Thiruvananthapuram", "Kollam", "Pathanamthitta", "Alappuzha", "Kottayam", "Idukki", "Ernakulam", "Thrissur", "Palakkad", "Malappuram(W)", "Malappuram(E)", "Kozhikode(N)", "Kozhikode(S)", "Wayanad", "Kannur", "Kasaragod"];

    // Function to populate the district dropdown
    function populateDistrictDropdown() {
        var districtSelect = document.getElementById("districtSelect");

        // Clear existing options
        districtSelect.innerHTML = '<option value="" disabled selected>Select District</option>';

        // Add options for each district
        districtsInKerala.forEach(function (district) {
            var option = document.createElement("option");
            option.value = district.toLowerCase(); // Set the value to lowercase if needed
            option.text = district;
            districtSelect.add(option);
        });
    }

    // Call the function to populate the dropdown
    populateDistrictDropdown();
</script>