{{!-- <main class="overflow-hidden">
    <div class="container">
        <div class="row">
            <h5 class="text">
                <img src="assets1/images/text.png" alt="Text" />sponsored by MSM Kozhikode North
            </h5>
            <h2 class="main-heading">
                Join The Ramadan Quiz
                <img src="assets1/images/stars.png" alt="star" />March 2024<img src="assets1/images/stars.png"
                    alt="star" />
            </h2>
            <form action="/signin" method="POST" id="stepForm">
                {{#if signInErr}}
                <div class="alert alert-danger" role="alert">
                    <p class="error alert-heading">{{signInErr}}</p>
                </div>
                {{/if}}
                <div class="inputField">
                    <input type="text" name="Username" placeholder="Username" value="salavi" required />
                    <div class="black"></div>
                </div>
                <div class="inputField">
                    <input type="password" name="Password" placeholder="Password" value="7994465741" required />
                    <div class="black"></div>
                </div>
                <div class="submitButton">
                    <button type="submit">Login</button>
                    <div class="black"></div>
                </div>
                <div class="submitButton mt-3">
                    <a href="/signup" class="btn btn-dark w-100 p-3 text-bold">Create a new account</a>
                </div>
            </form>
            <div class="desc">
                <div class="date">
                    monday
                    <br />
                    <span>dec 25<sup>th</sup></span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consecttetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                    ipsum suspendtisse
                </p>
            </div>
            <div class="location">
                <div class="line"></div>
                <h1>party location</h1>
                <p>123 Street Name, City Name, State, Country, 12345</p>
                <div class="socialIcons">
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i>
                        <div class="black"></div>
                    </a>
                    <a href="#"><i class="fa-brands fa-youtube"></i>
                        <div class="black"></div>
                    </a>
                    <a href="#"><i class="fa-brands fa-facebook"></i>
                        <div class="black"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
</main> --}}

<style>
    .login-wrapper {
        background-image: url('images/img/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>



<div class="login-wrapper d-flex align-items-center justify-content-center bg-white">
    <div class="card p-4 shadow">
        <div class="container p">
            <div class="text-center px-4"><img class="login-intro-img" src="img/bg-img/36.png" alt=""></div>
            <!-- Register Form -->
            <div class="register-form mt-4">
                <h6 class="mb-3 text-center">Login to Msm Ramadan Quiz 2024.</h6>

                <form action="/signin" method="POST" id="stepForm">
                    {{#if signUpErr}}
                    <div class="alert alert-danger" role="alert">
                        <p class="error alert-heading">{{signUpErr}}</p>
                    </div>
                    {{/if}}

                    <div class="form-group text-start mb-3">
                        <input class="form-control" id="username" name="Username" type="text" placeholder="Username"
                            required>
                    </div>
                    <div class="form-group text-start mb-3 position-relative">
                        <input class="form-control" id="password" name="Password" type="text"
                            placeholder="Enter Your Mobile Number" required>
                        <div class="position-absolute" id="password-visibility"><i class="bi bi-eye"></i><i
                                class="bi bi-eye-slash"></i></div>
                    </div>
                    <div class="mb-3" id="pswmeter"></div>
                    {{!-- <div class="form-check mb-3">
                        <input class="form-check-input" id="checkedCheckbox" type="checkbox" value="" checked>
                        <label class="form-check-label text-muted fw-normal" for="checkedCheckbox">I agree with the
                            terms &amp;
                            policy.</label>
                    </div> --}}
                    <button class="btn btn-primary w-100" type="submit">Sign In</button>
                </form>
            </div>
            <!-- Login Meta -->
            <div class="login-meta-data text-center">
                <p class="mt-3 mb-0">Dont't have an account? <a class="stretched-link" href="/signup">Signup Now</a>
                </p>
            </div>
        </div>
    </div>
</div>