<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HighSec 2024 - Registration">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Title -->
  <title>HighSec 2024 - Msm Kozhikode North</title>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" href="/images/fav.png">
  <link rel="apple-touch-icon" href="/images/fav.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/fav.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/images/fav.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/fav.png">
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/assets2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets2/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets2/css/tiny-slider.css">
  <link rel="stylesheet" href="/assets2/css/baguetteBox.min.css">
  <link rel="stylesheet" href="/assets2/css/rangeslider.css">
  <link rel="stylesheet" href="/assets2/css/vanilla-dataTables.min.css">
  <link rel="stylesheet" href="/assets2/css/apexcharts.css">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="/assets2/style.css">
  <!-- Web App Manifest -->
  {{!--
  <link rel="manifest" href="/assets2/manifest.json"> --}}
</head>
<style>
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .container {
      max-width: 1178px;
      width: 400px;
    }
  }
</style>

<body>
  {{#if admin}}
  {{>admin-header}}
  {{/if}}
  <script src="/socket.io/socket.io.js"></script>
  {{{body}}}

  <!-- All JavaScript Files -->
  <script src="/assets2/js/bootstrap.bundle.min.js"></script>
  <script src="/assets2/js/internet-status.js"></script>
  <script src="/assets2/js/dark-rtl.js"></script>
  <!-- Password Strenght -->
  <script src="/assets2/js/pswmeter.js"></script>
  <script src="/assets2/js/active.js"></script>
  <!-- PWA -->
  <script src="/assets2/js/pwa.js"></script>
</body>

</html>